# Flask template
# --------------
# Freeze rauth==0.4.16 for Flask-Rauth==0.3.2
rauth==0.4.16

Flask-Admin==1.0.5
Flask-Babel==0.8
Flask-Bootstrap==2.3.1-1
Flask-Cache==0.11
Flask-DebugToolbar==0.8.0
Flask-Login==0.1.3
Flask-Mail==0.7.6
Flask-Principal==0.3.4
Flask-Rauth==0.3.2
Flask-Script==0.5.3
Flask-Squll==0.3.6
Flask-Testing==0.4
Flask==0.9
alembic==0.4.2
dealer==0.1.9
flask-collect==0.1.6
flask-mixer==0.2.2
mock==1.0.1
straight.plugin==1.4.0-post-1
