{% extends "core/base.html" %}

{% block page_content %}
    <div class="row">
        <div class="span5">
            {% import "bootstrap_wtf.html" as wtf %}

            <form class="form form-horizontal well" action="{{ url_for('users.register') }}" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, False) }}

                {{ wtf.horizontal_field(form.username) }}
                {{ wtf.horizontal_field(form.email) }}
                {{ wtf.horizontal_field(form.password) }}
                {{ wtf.horizontal_field(form.password_confirm) }}
                <div class="form-actions">
                    <button name="action_save" type="submit" class="btn btn-primary">{{ _('Register') }}</button>
                </div>
            </form>
            <a href="{{ url_for('users.login') }}">{{ _('Login') }}</a>
        </div>
    </div>
{% endblock %}
