<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Flask template</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="http://flask.pocoo.org/">Flask docs</a></li>
                    <li><a href="http://twitter.github.com/bootstrap">Bootstrap docs</a></li>
                    <li><a href="http://docs.sqlalchemy.org/en/rel_0_7/index.html">SQLAlchemy docs</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if current_user and current_user.is_authenticated() %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if current_user.permission('admin') %}
                            <li><a href="{{ url_for('admin.index') }}">{{ _('Admin') }}</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('users.profile') }}">{{ _('Profile') }}</a></li>
                        <li><a href="{{ url_for('users.logout') }}">{{ _('Logout') }}</a></li>
                    </ul>
                    </li>
                    {% elif loginform %}
                    {% import "bootstrap_wtf.html" as wtf %}

                    <li>
                        <a href="{{ url_for('login_twitter') }}">{{ _('twitter') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Login') }}<b class="caret"></b></a>
                        <div class="dropdown-menu well">
                            <form class="form" action="{{ url_for('users.login') }}" method="POST">
                                {{ loginform.hidden_tag() }}
                                {{ wtf.form_errors(loginform, False) }}
                                {{ wtf.horizontal_field(loginform.email) }}
                                {{ wtf.horizontal_field(loginform.password) }}
                                {{ wtf.horizontal_field(loginform.remember) }}
                                <button name="action_save" type="submit" class="btn btn-primary">{{ _('Login') }}</button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('users.register') }}">{{ _('Register') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
